<ion-grid>
    <ion-row class="header">
        <ion-col>
            <header>Rok produkcji</header>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>

            <ion-spinner ion-fixed style="left: 50%; top: 50%; transform: translate(-50%, -50%)" *ngIf="!item"></ion-spinner>

            <ion-list *ngIf="item">
                <ion-item>
                    <ion-label>Wybierz zakres:</ion-label>
                    <ion-range [min]="item.min" [max]="item.max" pin="true" step="1" snaps="true" dualKnobs="true" color="secondary" [(ngModel)]="range" (ngModelChange)="validate()">
                    </ion-range>
                </ion-item>
            </ion-list>

        </ion-col>
    </ion-row>
</ion-grid>