<ion-spinner ion-fixed style="left: 50%; top: 50%; transform: translate(-50%, -50%)" *ngIf="!options"></ion-spinner>

<ion-grid *ngIf="options">
    <ion-row class="header">
        <ion-col>
            <header>DMC</header>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-list>
                <ion-item>
                    <ion-label>Wybierz zakres: </ion-label>
                    <ion-range [min]="options.min" [max]="options.max" pin="true" step="500" snaps="true" dualKnobs="true" color="secondary" [(ngModel)]="range" (ngModelChange)="validate()">
                    </ion-range>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>