<ion-spinner ion-fixed style="left: 50%; top: 50%; transform: translate(-50%, -50%)" *ngIf="!regions"></ion-spinner>

<ion-grid *ngIf="regions">
    <ion-row class="header">
        <ion-col>
            <header>Obszar analizy</header>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-scroll #scroll scrollY="true" class="scrollable">
                <ion-list>
                    <ng-template ngFor let-region [ngForOf]="regions">
                        <button id="region-{{region.id}}" ion-item class="item-region" [class.selected]="region.id == filter.selection.id" (click)="clickedRegion(region)">
                            {{ region.name }}<span [class.expandable]="region.children" [class.expanded]="region.expanded"></span>
                        </button>
                        <ng-template [ngIf]="region.expanded">
                            <button id="region-{{child.id}}" ion-item class="item-region item-region-child" [class.selected]="child.id == filter.selection.id" *ngFor="let child of region.children" (click)="clickedRegion(child)">
                                {{ child.name }}
                            </button>
                        </ng-template>
                    </ng-template> 
                </ion-list>
            </ion-scroll>
        </ion-col>
    </ion-row>
</ion-grid>