samar-menu-filter-vehicle-type {
    width: 300px;

    .scrollable{
        height: 100%;

        .item {
            &.item-md .checkbox-md {
                margin-right: 12px;
            }
            .label {
                font-size: 12px;
            }
        }
    }
}