samar-filter-region {
    width: 300px;

    .scrollable {
        height: 100%;

        .item.item-region {
            padding: 0;
            font-size: 1.2rem;
            cursor: pointer;

            .label {
                padding-left: 15px;

                &.selected {
                    font-weight: 700;
                }
            }

            &.item-region-child .label {
                padding-left: 30px;
            }

            span.expandable {
                background: url(../assets/img/menu/expandable-list-open.png) no-repeat scroll 10px 50% rgba(254, 255, 255, 0);
                cursor: pointer;
                display: block;
                height: 100%;
                position: absolute;
                right: 10px;
                top: 0;
                width: 36px;
            }
            span.expandable.expanded {
                background: url(../assets/img/menu/expandable-list-close.png) no-repeat scroll 10px 50% rgba(254, 255, 255, 0);
            }
        }
    }

}