samar-user-menu-page {
    display: block;
    height: 100%;

    > .content {

        > .scroll-content {
            overflow-y: auto;
        }
    }

    .smr-user-title-panel {
        padding: 10px;
        margin: 0;
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}