samar-filter-customer-type {
    width: 300px;

    .scrollable{
        height: 100%;

        .item {
            &.item-indent {
                padding-left: 35px;
            }
            &.item-large-indent {
                padding-left: 55px;
            }

            &.item-md .checkbox-md {
                margin-right: 12px;
            }
            .label {
                font-size: 12px;
            }
            
            span.expandable {
                background: url(../assets/img/menu/expandable-list-open.png) no-repeat scroll 10px 50% rgba(254, 255, 255, 0);
                cursor: pointer;
                display: block;
                height: 100%;
                position: absolute;
                right: 10px;
                top: 0;
                width: 36px;
            }
            span.expandable.expanded {
                background: url(../assets/img/menu/expandable-list-close.png) no-repeat scroll 10px 50% rgba(254, 255, 255, 0);
            }
        }
    }
}