samar-slideshow-page {
    display: block;
    height: 100%;
    padding: 5px;

    > .content {
        border-radius: 5px;

        > .scroll-content {
            overflow-y: hidden;
        }
    }
}