<ion-grid no-padding no-margin>

    <ion-row no-padding no-margin>

        <ion-col no-padding no-margin>
            <!--  Logotyp -->
            <button ion-button color="secondary"class="smr-item-menu smr-special-item item-logo">
                <h2 title="www.samar.pl"><span>www.samar.pl</span></h2>
            </button>

            <!--  Menu użytkownika -->
            <button ion-button color="secondary" (click)="showUserPanel()" class="smr-item-menu smr-special-item item-user-menu">
                <h2 title="Panel użytkownika"><span>Panel użytkownika</span></h2>
            </button>

            <!-- Przycisk wyboru analizy -->
            <button ion-button color="secondary" (click)="showAnalysisPanel()" class="smr-item-menu smr-special-item item-analysis">
                <h2 title="Wybierz rodzaj analizy"><span>Rodzaj analizy</span></h2>
            </button>

            <!-- Przycisk rozwijania/zwijania menu filtrów -->
            <button ion-button class="smr-item-menu smr-special-item item-toggle" (click)="toggleMenu()">
                <h2 title="{{ extendedMenu ? 'Zwiń menu':'Rozwiń menu'}}"><span>{{ extendedMenu ? 'Zwiń menu':'Rozwiń menu'}}</span></h2>
            </button>

            <ng-template ngFor let-filter [ngForOf]="filters">
                <button *ngIf="filter.id != 'ANALYSIS'" ion-button (click)="selectFilter(filter)" class="smr-item-menu" [ngClass]="[filter.className]">
                    <h2 title="{{filter.name}}"><span>{{filter.name}}</span></h2>
                    <div *ngIf="extendedMenu" class="smr-item-menu-input">{{filter | selectionFilterMenu}}</div> 
                </button>
            </ng-template>

            <button ion-button class="smr-item-menu smr-special-item show" color="secondary" (click)="showData()">
                <h2><span>Pokaż dane</span></h2>
            </button>

        </ion-col>
        <ion-col *ngIf="selectedFitler" class="smr-filters-menu-column-details">
            <samar-filter-region [filter]="selectedFitler" *ngIf="selectedFitler.id == 'AREA'"></samar-filter-region>
            <samar-filter-year-production [filter]="selectedFitler" *ngIf="selectedFitler.id == 'YEAR_PRODUCTION'"></samar-filter-year-production>
            <samar-filter-segmentation [filter]="selectedFitler" *ngIf="selectedFitler.id == 'SEGMENTATION'"></samar-filter-segmentation>
            <samar-filter-vehicle-type [filter]="selectedFitler" *ngIf="selectedFitler.id == 'VEHICLE_TYPE'"></samar-filter-vehicle-type>
            <samar-filter-dmc [filter]="selectedFitler" *ngIf="selectedFitler.id == 'DMC'"></samar-filter-dmc>
            <samar-filter-fuel-type [filter]="selectedFitler" *ngIf="selectedFitler.id == 'FUEL'"></samar-filter-fuel-type>
            <samar-filter-customer-type [filter]="selectedFitler" *ngIf="selectedFitler.id == 'CUSTOMER'"></samar-filter-customer-type>
            <samar-filter-make [filter]="selectedFitler" *ngIf="selectedFitler.id == 'MAKE'"></samar-filter-make>
        </ion-col> 
    </ion-row>  
</ion-grid>