samar-main-filters-menu {
    position: absolute;
    right: 0;
    top:0;
    width: 50px;
    height: 100%;
    display: block;
    z-index: 1;
    padding: 5px 5px 5px 0;
    transition: width 0.5s;

    > .content > .scroll-content {
        overflow-y: hidden;
    }
    
    > .grid {
        height: 100%;

        > .row {
            margin: 0;
            padding: 0;
            height: 100%;

            > .col:first-child {
                padding: 0;
                margin: 0;
                display: -webkit-flex; /* Safari */
                display: flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                flex: 0 0 245px;
                width: 245px;
            }
        }
    }

    .button.smr-item-menu {
        border-bottom: 1px solid color($colors, light, base);
        color: #ffffff;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        border-radius: 0px;
        justify-content: center;
        -webkit-flex: auto; /* Safari 6.1+ */
        -ms-flex: auto;
        flex: auto;
        transition: background 0.3s cubic-bezier(.02,.26,.24,.98);

        &:hover {
            background-color: color($colors, light, base);
        }

        h2 {
            background-position: 0px 0px;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px;
            font-size: 12px;
            font-weight: 300;
            margin: 0 auto;

            span {
                display: none;
            }
        }
        
        .smr-item-menu-input {
            background: #ffffff url('../assets/img/menu/button-arrow.png') bottom right no-repeat;
            height: 34px;
            width: 100%;
            border-radius: 3px;
            margin: 31px 10px 0px 10px;
            padding: 11px;
            color: color($colors, secondary, base);
            box-shadow: 0 2px 0 rgba(0,0,0,0.15);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-transform: none;
            font-size: 12px;
            text-align: left;
            width: 225px;
        }

        &.item-logo {
            h2 {
                background-image: url('../assets/icons/logo.png');
            }
        }

        &.item-user-menu {
            h2 {
                background-image: url('../assets/img/menu/icons/user-menu.png');
            }
        }

        &.item-analysis {
            h2 {
                background-image: url('../assets/img/menu/icons/analysis.png');
            }
        }

        &.item-toggle {
            h2 {
                background-image: url('../assets/img/menu/arrow-left.png');
            }
        }
        
        &.item-company {
            h2 {
                background-image: url('../assets/img/menu/icons/company.png');
            }
        }
        
        &.item-date {
            h2 {
                background-image: url('../assets/img/menu/icons/date.png');
            }
        }
        
        &.item-year-production {
            h2 {
                background-image: url('../assets/img/menu/icons/year-production.png');
            }
        }
        
        &.item-sa {
            h2 {
                background-image: url('../assets/img/menu/icons/sa.png');
            }
        }
        
        &.item-fuel {
            h2 {
                background-image: url('../assets/img/menu/icons/fuel.png');
            }
        }
        
        &.item-segment {
            h2 {
                background-image: url('../assets/img/menu/icons/segment.png');
            }
        }
        
        &.item-vehicle-type {
            h2 {
                background-image: url('../assets/img/menu/icons/vehicle-type.png');
            }
        }
        
        &.item-weight {
            h2 {
                background-image: url('../assets/img/menu/icons/weight.png');
            }
        }
        
        &.item-make {
            h2 {
                background-image: url('../assets/img/menu/icons/make.png');
            }
        }
        
        &.item-customer {
            h2 {
                background-image: url('../assets/img/menu/icons/customer.png');
            }
        }

        // .smr-item-menu-input::before {
        //     position: absolute;
        //     display: block;
        //     width: 38px;
        //     height: 100%;
        //     top: 0px;
        //     left: 16px;
        //     background: 0 50% no-repeat;
        //     content: '';
        // }

        &.smr-special-item {
            -webkit-flex: none; /* Safari 6.1+ */
            -ms-flex: none;
            flex: none;
            height: 44px;
        }

        &.show {
            h2 {
                background-image: url('../assets/img/menu/icons/show-data.png');
            }
        }
    }

    &.extended {
        width: 245px;

        .smr-item-menu.item-toggle {
            h2 {
                background-image: url('../assets/img/menu/arrow-right.png');
            }
        }

        .smr-item-menu { 
            h2 {
                position: absolute;
                top: 9px;
                left: 9px;
                margin: 0;
                padding: 5px 0px 0px 30px;
                background-position: 0px 0px;

                span {
                    display: block;
                }
            }
       }
    }
    
    @media screen and (max-height: 800px) {
        &.extended {
            .smr-item-menu:not(.smr-special-item) {
                h2 {
                    position: absolute;
                    top: 3px;
                    left: 11px;
                    padding: 5px 0px 0px 28px;
                    background-position: 0px 0px;
                    width: 30px;

                }
                .smr-item-menu-input {
                    margin: 23px 10px 0px 10px;
                    padding: 9px;
                    height: 30px;
                }
            }
        }
    }

    @media screen and (max-height: 700px) {
        &.extended {
            .smr-item-menu:not(.smr-special-item) {
                h2 {
                    position: relative;
                    top: auto;
                    left: 6px;
                    margin: 0 auto;
                    padding: 0px;
                    background-position: 0px 0px;
                    width: 30px;
    
                    span {
                        display: none;
                    }
                }
                .smr-item-menu-input {
                    margin: auto 10px;
                    padding: 11px;
                    height: 34px;
                }
            }
        }
    }
    
    &.show-panel-filter {
        width: auto;
    }

    .col.smr-filters-menu-column-details {
        > * {
            display: block;
            height: 100%;

            > .grid {
                height: 100%;

                > .row.header {
                    height: 60px;

                    header {
                        padding: 20px;
                        color: #ffffff;
                        background-color: #5d86b3;
                        text-transform: uppercase;
                    }
                }

                > .row {
                    height: 100%;

                    > .col {
                        padding: 0;
                        margin: 0;
                        height: 100%;
                    }
                }

                > .row:nth-child(2) {
                    background-color: #ffffff;
                }

            }
        }
    }
}